<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- REVISAR -->
  <link rel="stylesheet" href="/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>

<body>
  <section class="mainCreate__card card">
    <article class="js_card_article card__article palette2">
      <div class="header-card card__article--data">
        <h2 class="name js_card_name">
          <%= name %>
        </h2>
        <h3 class="text js_card_job">
          <%= job %>
        </h3>
      </div>
      <div class="card__article--photo js_card_img js__profile-image" style="background-image: url('<%= photo %>')">
      </div>
      <nav class="card__article--links">
        <a class="js_card_phone" href="tel:<%= phone %> "><i class="fa-solid fa-mobile-screen-button icon"></i></a><a
          class="js_card_email" href="mailto:<%= email %> "><i class="fa-regular fa-envelope icon"></i></a><a
          class="js_card_linkedin" href="www.linkedin.com/in/<%= linkedin %> " target="_blank" rel="noreferrer"><i
            class="fa-brands fa-linkedin-in icon"></i></a><a class="js_card_github"
          href="https://github.com/<%= github %> " target="_blank" rel="noreferrer"><i
            class="fa-brands fa-github-alt icon"></i></a>
      </nav>
    </article>
  </section>
</body>

</html>